.menu {
    margin-top: 50px;
  }

  .icon span {
    background-color: orangered;
    border-radius: 5px;
    padding: 7px 10px;
    color: white;
  }
  
  .icon h4 {
    color: orangered;
  }
  .home a {
    margin-right: 15px;
    font-size: 22px;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }
  
  .border-menu {
    color: orangered;
    margin-top: 50px;
  }
  
  .total-items-count {
    height: 50px;
    background-color: rgb(216, 210, 210);
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .tody {
    background-color: orangered;
    border-radius: 5px;
    padding: 8px 15px;
    color: white;
    border: none;
  }